In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd
import geopandas as gpd
from shapely import wkb, Point

In [2]:
df1 = pd.read_csv("/home/camilacl/git/amazon-storms-aerosols/data/general/hysplit_2014_backward_paths.csv", index_col=[-1])
df2 = pd.read_csv("/home/camilacl/git/amazon-storms-aerosols/data/general/hysplit_2015_backward_paths.csv", index_col=[-1])

hst_bwd = pd.concat([df1, df2])
geo_hst_bwd = gpd.GeoDataFrame(hst_bwd, geometry=gpd.points_from_xy(hst_bwd.lon, hst_bwd.lat), crs="EPSG:4326")
geo_hst_bwd.date = pd.to_datetime(geo_hst_bwd.date)
geo_hst_bwd.date = geo_hst_bwd.date.dt.tz_convert('America/Manaus')
geo_hst_bwd.index.names = ["name_file"]
geo_hst_bwd

,date,lon,lat,date_hours,geometry
name_file,,,,,
t140101_0000,2013-12-31 20:00:00-04:00,-60.598,-3.213,0.0,POINT (-60.59800 -3.21300)
t140101_0000,2013-12-31 19:48:00-04:00,-60.573,-3.220,-0.2,POINT (-60.57300 -3.22000)
t140101_0000,2013-12-31 19:36:00-04:00,-60.548,-3.225,-0.4,POINT (-60.54800 -3.22500)
t140101_0000,2013-12-31 19:24:00-04:00,-60.522,-3.229,-0.6,POINT (-60.52200 -3.22900)
t140101_0000,2013-12-31 19:12:00-04:00,-60.497,-3.233,-0.8,POINT (-60.49700 -3.23300)
...,...,...,...,...,...
t151231_2348,2015-12-31 08:36:00-04:00,-59.661,-2.144,-11.2,POINT (-59.66100 -2.14400)
t151231_2348,2015-12-31 08:24:00-04:00,-59.627,-2.101,-11.4,POINT (-59.62700 -2.10100)
t151231_2348,2015-12-31 08:12:00-04:00,-59.593,-2.056,-11.6,POINT (-59.59300 -2.05600)
t151231_2348,2015-12-31 08:00:00-04:00,-59.557,-2.009,-11.8,POINT (-59.55700 -2.00900)
t151231_2348,2015-12-31 07:48:00-04:00,-59.519,-1.961,-12.0,POINT (-59.51900 -1.96100)

In [3]:
df = pd.read_pickle("/home/camilacl/git/amazon-storms-aerosols/data/general/sysfilt_hstbwd_nearest_6h_25km.pickle")
# df.geom = [wkb.loads(bytes(g.ExportToWkb())) for g in df.geom]
sys_filt = gpd.GeoDataFrame(df, geometry="geom", crs="EPSG:4326")
sys_filt

,name_file,date,lon,lat,date_hours,geometry,index_right,area,max,mean,...,dechotop_0,dechotop_20,dechotop_40,vil,vii,zfreq,nae,dgld,distance,inter
7,t140805_0112,2014-08-04 19:12:00-04:00,-60.303,-3.143,-2.0,POINT (-60.30300 -3.14300),7,775.0,56.330000,43.234844,...,NaN,NaN,NaN,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0, 0, 5, 157, 224, 112, 112, 165, 149, 134, ...",NaN,NaN,24791.490716,0 days 05:12:00
32,t140125_1024,2014-01-25 05:36:00-04:00,-60.520,-3.200,-0.8,POINT (-60.52000 -3.20000),32,152.0,48.179996,36.384052,...,NaN,NaN,NaN,"[[0.0465, 0.0332, 0.0362, 0.0328, 0.0164, 0.01...","[[0.0821, 0.0587, 0.0639, 0.058, 0.029, 0.0247...","[[0, 0, 0, 28, 104, 88, 74, 60, 50, 32, 20, 9,...",NaN,NaN,24865.074624,0 days 05:12:00
48,t140313_1912,2014-03-13 15:12:00-04:00,-60.598,-3.213,0.0,POINT (-60.59800 -3.21300),48,144.0,53.699997,43.515114,...,NaN,NaN,NaN,"[[0.0356, 0.037, 0.0311, 0.0, 0.0433, 0.0507, ...","[[0.0629, 0.0653, 0.055, 0.0, 0.0765, 0.0896, ...","[[0, 0, 0, 2, 37, 52, 33, 28, 19, 23, 17, 15, ...",NaN,NaN,0.000000,0 days 00:00:00
59,t150129_0336,2015-01-28 18:00:00-04:00,-59.969,-3.307,-5.6,POINT (-59.96900 -3.30700),59,112.0,49.470000,39.141125,...,NaN,NaN,NaN,"[[0.0652, 0.0093, 0.0072, 0.0, 0.0, 0.0, 0.015...","[[0.1151, 0.0164, 0.0127, 0.0, 0.0, 0.0, 0.027...","[[0, 1, 20, 26, 31, 28, 23, 31, 24, 18, 15, 8,...",NaN,NaN,24594.889027,0 days 02:48:00
129,t141127_2012,2014-11-27 15:48:00-04:00,-60.619,-3.225,-0.4,POINT (-60.61900 -3.22500),129,119.0,50.600000,40.431637,...,NaN,NaN,NaN,"[[0.0394, 0.0838, 0.131, 0.165, 0.1408, 0.0, 0...","[[0.0696, 0.1479, 0.2313, 0.2914, 0.2486, 0.0,...","[[0, 0, 0, 5, 51, 42, 44, 16, 20, 14, 10, 14, ...",NaN,NaN,24923.949166,0 days 04:12:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40215,t150331_0024,2015-03-30 20:24:00-04:00,-60.598,-3.213,0.0,POINT (-60.59800 -3.21300),40215,193.0,47.080000,36.435400,...,NaN,NaN,NaN,"[[0.0, 0.0, 0.0, 0.0518, 0.0719, 0.0538, 0.012...","[[0.0, 0.0, 0.0, 0.0915, 0.1271, 0.0949, 0.022...","[[0, 0, 0, 34, 54, 61, 49, 49, 37, 38, 21, 4, ...",NaN,NaN,1176.956961,0 days 00:00:00
40267,t151115_2012,2015-11-15 16:12:00-04:00,-60.598,-3.213,0.0,POINT (-60.59800 -3.21300),40267,129.0,57.100002,45.889378,...,NaN,NaN,NaN,"[[0.0, 0.0, 0.0156, 0.0, 0.0, 0.0767, 0.0795, ...","[[0.0, 0.0, 0.0276, 0.0, 0.0, 0.1355, 0.1404, ...","[[0, 0, 0, 0, 13, 25, 34, 20, 15, 17, 11, 15, ...",NaN,NaN,943.321365,0 days 00:00:00
40285,t140604_0236,2014-06-03 22:36:00-04:00,-60.598,-3.213,0.0,POINT (-60.59800 -3.21300),40285,101.0,49.310000,41.264954,...,NaN,NaN,NaN,"[[0.0754, 0.0675, 0.0769, 0.071, 0.0194, 0.0, ...","[[0.1332, 0.1191, 0.1357, 0.1253, 0.0343, 0.0,...","[[0, 0, 0, 0, 68, 21, 26, 20, 10, 16, 10, 19, ...",NaN,NaN,15490.849627,0 days 00:00:00
40303,t140107_2124,2014-01-07 15:36:00-04:00,-60.601,-3.175,-1.8,POINT (-60.60100 -3.17500),40303,175.0,44.670002,31.222288,...,NaN,NaN,NaN,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.02...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.03...","[[0, 0, 0, 0, 0, 49, 94, 45, 20, 12, 4, 0, 0, ...",NaN,NaN,24896.868175,0 days 04:36:00
40361,t140305_1612,2014-03-05 11:24:00-04:00,-60.533,-3.164,-0.8,POINT (-60.53300 -3.16400),40361,140.0,45.920000,36.449333,...,NaN,NaN,NaN,"[[0.1184, 0.1159, 0.1222, 0.1125, 0.1023, 0.10...","[[0.209, 0.2047, 0.2159, 0.1987, 0.1807, 0.188...","[[0, 30, 37, 36, 24, 28, 27, 34, 31, 25, 22, 1...",NaN,NaN,24878.517212,0 days 01:00:00

In [ ]:
sys_filt.loc[sys_filt.date_hours < -3]

In [9]:
# geo_hst_filt = geo_hst_bwd.loc[geo_hst_bwd.date_hours >= -6].loc[sys_filt.loc[sys_filt.date_hours < -3].name_file]
# geo_hst_filt

,date,lon,lat,date_hours,geometry
name_file,,,,,
t140101_0000,2013-12-31 20:00:00-04:00,-60.598,-3.213,0.0,POINT (-60.59800 -3.21300)
t140101_0000,2013-12-31 19:48:00-04:00,-60.573,-3.220,-0.2,POINT (-60.57300 -3.22000)
t140101_0000,2013-12-31 19:36:00-04:00,-60.548,-3.225,-0.4,POINT (-60.54800 -3.22500)
t140101_0000,2013-12-31 19:24:00-04:00,-60.522,-3.229,-0.6,POINT (-60.52200 -3.22900)
t140101_0000,2013-12-31 19:12:00-04:00,-60.497,-3.233,-0.8,POINT (-60.49700 -3.23300)
...,...,...,...,...,...
t151231_2348,2015-12-31 14:36:00-04:00,-60.261,-2.851,-5.2,POINT (-60.26100 -2.85100)
t151231_2348,2015-12-31 14:24:00-04:00,-60.249,-2.835,-5.4,POINT (-60.24900 -2.83500)
t151231_2348,2015-12-31 14:12:00-04:00,-60.238,-2.820,-5.6,POINT (-60.23800 -2.82000)
t151231_2348,2015-12-31 14:00:00-04:00,-60.227,-2.804,-5.8,POINT (-60.22700 -2.80400)
t151231_2348,2015-12-31 13:48:00-04:00,-60.216,-2.788,-6.0,POINT (-60.21600 -2.78800)

In [5]:
df = pd.DataFrame({"lon": [-59.9867], "lat": [-3.0972]})
geodf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.lon, df.lat), crs="EPSG:4326")

In [12]:
within_manaus = geo_hst_bwd.to_crs(crs=3857).sjoin_nearest(geodf.to_crs(crs=3857), max_distance=30000, distance_col="distance").index.unique()
# geo_hst_filt = geo_hst_bwd.loc[~within_manaus]

In [14]:
geo_hst_filt = geo_hst_bwd.loc[~geo_hst_bwd.index.isin(within_manaus)]

In [15]:
geo_hst_filt

,date,lon,lat,date_hours,geometry
name_file,,,,,
t140101_0836,2014-01-01 04:36:00-04:00,-60.598,-3.213,0.0,POINT (-60.59800 -3.21300)
t140101_0836,2014-01-01 04:24:00-04:00,-60.576,-3.226,-0.2,POINT (-60.57600 -3.22600)
t140101_0836,2014-01-01 04:12:00-04:00,-60.555,-3.239,-0.4,POINT (-60.55500 -3.23900)
t140101_0836,2014-01-01 04:00:00-04:00,-60.534,-3.251,-0.6,POINT (-60.53400 -3.25100)
t140101_0836,2014-01-01 03:48:00-04:00,-60.514,-3.264,-0.8,POINT (-60.51400 -3.26400)
...,...,...,...,...,...
t151231_2348,2015-12-31 08:36:00-04:00,-59.661,-2.144,-11.2,POINT (-59.66100 -2.14400)
t151231_2348,2015-12-31 08:24:00-04:00,-59.627,-2.101,-11.4,POINT (-59.62700 -2.10100)
t151231_2348,2015-12-31 08:12:00-04:00,-59.593,-2.056,-11.6,POINT (-59.59300 -2.05600)
t151231_2348,2015-12-31 08:00:00-04:00,-59.557,-2.009,-11.8,POINT (-59.55700 -2.00900)
t151231_2348,2015-12-31 07:48:00-04:00,-59.519,-1.961,-12.0,POINT (-59.51900 -1.96100)

In [ ]:
df = pd.read_pickle("/home/camilacl/git/amazon-storms-aerosols/data/systems_filtered_sg_v1.pickle")
df.geom = [wkb.loads(bytes(g.ExportToWkb())) for g in df.geom]
sys_filt = gpd.GeoDataFrame(df, geometry="geom", crs="EPSG:4326")
sys_filt

# FunÃ§Ã£o para juntar CSs com trajetÃ³rias

In [ ]:
def join_hst_sys(hst, sysfilt):
    geo_sysfilt = gpd.GeoDataFrame(sysfilt.to_frame().T, geometry=sysfilt.to_frame().T.geom, crs="EPSG:4326").to_crs(crs=3857)
    hst = hst.loc[hst.date_hours >= -6]
    inter = abs(geo_sysfilt.iloc[0].timestamp - hst.date)
    hst = hst.loc[inter[inter <= pd.Timedelta(6, "H")].index].to_crs(crs=3857)
    pts_within = hst.sjoin_nearest(geo_sysfilt, max_distance=10000, distance_col="distance").reset_index().to_crs(crs="EPSG:4326")
    # pts_within = hst.sjoin_nearest(geo_sysfilt, max_distance=0.00001, distance_col="distance").reset_index().to_crs(crs="EPSG:4326")
    pts_within["inter"] = abs(pts_within.timestamp - pts_within.date)
    pts_within2 = pts_within.loc[pts_within.groupby("date_hours")["inter"].idxmin()].loc[pts_within.inter < pd.Timedelta(6, "H")]
    # print(pts_within2)
    if not pts_within2.empty:
        result = pts_within2.loc[pts_within2["date_hours"].idxmax()]
    else:
        result = pts_within2.append(pd.Series(0, index=pts_within2.columns), ignore_index=True).iloc[0]
    print("done!")
    return result

In [ ]:
join_hst_sys(geo_hst_bwd, sys_filt.iloc[0])

In [ ]:
df = sys_filt.iloc[:10].apply(lambda row: join_hst_sys(geo_hst_bwd, row), axis=1)

## Aplicando a todos os sistemas

In [ ]:
df = sys_filt.apply(lambda row: join_hst_sys(geo_hst_bwd, row), axis=1)

## Salvando

In [ ]:
df

In [ ]:
df.loc[df.name_file!=0]

In [ ]:
df.loc[~(df==0).all(axis=1)]

#.to_pickle("../../amazon-storms-aerosols/data/sysfilt_hstbwd_nearest_6h_10km.pickle")

# Explorando

In [ ]:
cs_sg = pd.read_pickle("/home/camilacl/git/amazon-storms-aerosols/data/systems_filtered_per_sg.pickle").geom_name
cs_sg

In [ ]:
df = pd.read_pickle("/home/camilacl/git/amazon-storms-aerosols/data/sysfilt_hstbwd_nearest_6h_10km.pickle")
df.date = pd.to_datetime(df.date)
# df.inter = pd.to_timedelta(df.inter).dt.total_seconds()/60
df.set_index(["date"], inplace=True)
df = df.loc[df.name.isin(cs_sg)]

In [ ]:
df

In [ ]:
len(df.loc[(df.distance > 0) & (df.distance < 1000)])

In [ ]:
df.distance.plot.hist(title="Distance traj-CS")

In [ ]:
df.date_hours.plot.hist(bins=range(-6, 1), title="Bwd Trajectory time (h)")

In [ ]:
df.sort_values(["distance", "timestamp"], ascending=False).iloc[:20]

In [ ]:
df.loc["2014-03-20"]

In [ ]:
import matplotlib.pyplot as plt
from datetime import datetime

f, ax = plt.subplots()
gpd.GeoDataFrame(df.loc["2014-03-20"]).set_geometry("geom").set_crs("EPSG:4326").boundary.plot(ax=ax)
gpd.GeoDataFrame(df.loc["2014-03-20"]).set_geometry("geometry").set_crs("EPSG:4326").plot(ax=ax, color="r")
plt.plot(-60.5987, -3.2133, "k", marker="o")
ax.set_xlim((-61.47, -58.5))
ax.set_ylim((-4.65, -1.45))

In [ ]:
df.loc[df.date_hours == 0]

In [ ]:
import matplotlib.pyplot as plt
from datetime import datetime

f, ax = plt.subplots()
gpd.GeoDataFrame(df.loc[df.date_hours == 0]).set_geometry("geom").set_crs("EPSG:4326").boundary.plot(ax=ax)
gpd.GeoDataFrame(df.loc[df.date_hours == 0]).set_geometry("geometry").set_crs("EPSG:4326").plot(ax=ax, color="r")
plt.plot(-60.5987, -3.2133, "k", marker="o")
ax.set_xlim((-61.47, -58.5))
ax.set_ylim((-4.65, -1.45))

In [ ]:
import matplotlib.pyplot as plt
from datetime import datetime

f, ax = plt.subplots()
gpd.GeoDataFrame(df.loc[df.index_right == 0]).set_geometry("geom").set_crs("EPSG:4326").boundary.plot(ax=ax)
gpd.GeoDataFrame(df.loc[df.index_right == 0]).set_geometry("geometry").set_crs("EPSG:4326").plot(ax=ax, color="r")
plt.plot(-60.5987, -3.2133, "k", marker="o")
ax.set_xlim((-61.47, -58.5))
ax.set_ylim((-4.65, -1.45))

In [ ]:
import matplotlib.pyplot as plt
from datetime import datetime

f, ax = plt.subplots()
gpd.GeoDataFrame(df.loc[(df.distance > 0) & (df.distance < 1000)]).set_geometry("geom").set_crs("EPSG:4326").boundary.plot(ax=ax)
gpd.GeoDataFrame(df.loc[(df.distance > 0) & (df.distance < 1000)]).set_geometry("geometry").set_crs("EPSG:4326").plot(ax=ax, color="r")
plt.plot(-60.5987, -3.2133, "k", marker="o")
ax.set_xlim((-61.47, -58.5))
ax.set_ylim((-4.65, -1.45))

In [ ]:
import matplotlib.pyplot as plt
from datetime import datetime

f, ax = plt.subplots()
gpd.GeoDataFrame(df.loc["2014-05-11"]).set_geometry("geom").set_crs("EPSG:4326").boundary.plot(ax=ax)
gpd.GeoDataFrame(df.loc["2014-05-11"]).set_geometry("geometry").set_crs("EPSG:4326").plot(ax=ax, color="r")
plt.plot(-60.5987, -3.2133, "k", marker="o")
ax.set_xlim((-61.47, -58.5))
ax.set_ylim((-4.65, -1.45))

In [ ]:
import xarray as xr

xr.open_dataset("/data2/camilacl/git/amazon-storms-aerosols/data/aerosol/aossmps/maoaossmpsS1.b1.20140129.144135.nc")